<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erro na Assinatura</title>
</head>
<th:block th:replace="~{fragments/auth-layout :: page('Erro na Assinatura', ~{::pageContent})}">
<div th:fragment="pageContent">
    <div class="alert alert-error">
        <p th:text="${error}">Ocorreu um erro.</p>
    </div>
    <div class="flex gap-3 flex-wrap mt-4">
        <a th:href="@{/login}" class="btn btn-primary flex-1">Login</a>
        <a th:href="@{/register}" class="btn btn-outline flex-1">Cadastrar</a>
        <a th:href="@{/documents}" class="btn btn-outline flex-1">Documentos</a>
    </div>
</div>
</th:block>
</html>
